
/* {$swatch}
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-{$swatch}
  border: 1px solid #34495e
  background: #34495e
  color:  #ffffff
  font-weight: bold
  font-family: Lato, sans-serif
  .ui-link-inherit
    color:  #3e3e3e
  a
    &.ui-link
      color: #7cc4e7
      font-weight: bold
      :visited
        color: #2489ce
      :hover
        color: #2489ce
      :active
        color: #2489ce
  input
  select
  textarea
  button
    font-family: Lato, sans-serif

  &.ui-li-divider
    background-color: #1abc9c
    border: 1px solid #1abc9c

.ui-body-{$swatch}
.ui-overlay-{$swatch}
  border: 2px solid #DCE4EC
  color: #34495E
  background: #ffffff
  background-image: none
  border-width: 0

.ui-body-{$swatch}
  font-family: Lato, sans-serif
  input
  select
  textarea
  button
    font-family: Lato, sans-serif
  .ui-link-inherit
    color: 	#333333

  .ui-link
    color: #2489ce
    font-weight: bold

  .ui-link:visited
    color: #2489ce

  .ui-link:hover
    color: #2489ce

  .ui-link:active
    color: #2489ce

  &.ui-input-text.ui-focus
    border: 2px solid #1abc9c
    -webkit-transition: border linear 0.2s
    -moz-transition: border linear 0.2s
    -o-transition: border linear 0.2s
    transition: border linear 0.2s

.ui-btn-up-{$swatch}
  border: 1px solid #ECF0F1
  background: #ECF0F1
  font-weight: bold
  color: #222222

  :visited
  a.ui-link-inherit
    color: #2f3e46

.ui-btn-hover-{$swatch}
  border: 1px solid #E6EAEB
  background: #E6EAEB
  font-weight: bold
  color: #222222

  :visited
  :hover
  a.ui-link-inherit
    color: #2f3e46

.ui-btn-down-{$swatch}
  border: 1px solid #E6EAEB
  background: #E6EAEB
  font-weight: bold
  color: #222222

  :visited
  :hover
  a.ui-link-inherit
    color: #2f3e46

.ui-btn-up-{$swatch}
.ui-btn-hover-{$swatch}
.ui-btn-down-{$swatch}
  font-family: Lato, sans-serif
  text-decoration: none

.ui-bar-{$swatch}
  .ui-btn-up-a
  .ui-btn-down-a
  .ui-btn-hover-a
    background-color: #34495e
    border: 1px solid #34495e
