.ui-bar-a{border:1px solid #f00;background:#f00;color:#fff;font-weight:bold;font-family:Lato,sans-serif;}
.ui-bar-a .ui-link-inherit{color:#3e3e3e}
.ui-bar-a a.ui-link{color:#7cc4e7;font-weight:bold;}
.ui-bar-a a.ui-link:visited{color:#2489ce}
.ui-bar-a a.ui-link:hover{color:#2489ce}
.ui-bar-a a.ui-link:active{color:#2489ce}
.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button{font-family:Lato,sans-serif}
.ui-bar-a.ui-li-divider{background-color:#1abc9c;border:1px solid #1abc9c}
.ui-body-a,.ui-overlay-a{border:2px solid #dce4ec;color:#34495e;background:#fff;background-image:none;border-width:0}
.ui-body-a{font-family:Lato,sans-serif;}
.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button{font-family:Lato,sans-serif}
.ui-body-a .ui-link-inherit{color:#333}
.ui-body-a .ui-link{color:#2489ce;font-weight:bold;}
.ui-body-a .ui-link:visited,.ui-body-a .ui-link:hover,.ui-body-a .ui-link:active{color:#2489ce}
.ui-body-a.ui-input-text.ui-focus{border:2px solid #1abc9c;-webkit-transition:border linear .2s;-moz-transition:border linear .2s;-o-transition:border linear .2s;transition:border linear .2s}
.ui-btn-up-a{border:1px solid #ecf0f1;background:#ecf0f1;font-weight:bold;color:#222;}
.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit{color:#2f3e46}
.ui-btn-hover-a{border:1px solid #e6eaeb;background:#e6eaeb;font-weight:bold;color:#222;}
.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit{color:#2f3e46}
.ui-btn-down-a{border:1px solid #e6eaeb;background:#e6eaeb;font-weight:bold;color:#222;}
.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit{color:#2f3e46}
.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{font-family:Lato,sans-serif;text-decoration:none}
.ui-bar-a .ui-btn-up-a,.ui-bar-a .ui-btn-down-a,.ui-bar-a .ui-btn-hover-a{background-color:#34495e;border:1px solid #34495e}
