build_swatch(swatch)

  .ui-bar-{swatch}
    border: 1px solid primary_color
    background: primary_color
    color:  font_color
    font-weight: bold
    font-family: Lato, sans-serif
    .ui-link-inherit
      color:  #3e3e3e
    a
      &.ui-link
        color: #7cc4e7
        font-weight: bold
        &:visited
          color: #2489ce
        &:hover
          color: #2489ce
        &:active
          color: #2489ce
    input
    select
    textarea
    button
      font-family: Lato, sans-serif

  .ui-body-{swatch}
  .ui-overlay-{swatch}
    border: 2px solid primary_color
    color: #34495E
    background: background_color
    background-image: none

  .ui-body-{swatch}
    font-family: Lato, sans-serif
    input
    select
    textarea
    button
      font-family: Lato, sans-serif
    .ui-link-inherit
      color: 	#333333
    .ui-link
      color: link_color
      font-weight: bold
      &:visited
      &:hover
      &:active
        color: highlight_color
    &.ui-input-text
      border: 2px solid #eee
      &.ui-focus
        border: 2px solid highlight_color
        -webkit-transition: border linear 0.2s
        -moz-transition: border linear 0.2s
        -o-transition: border linear 0.2s
        transition: border linear 0.2s

  .ui-btn-up-{swatch}
    border: 1px solid primary_color
    background: primary_color
    font-weight: bold
    color:  font_color

    &:visited
    a.ui-link-inherit
      color:  font_color

  .ui-btn-hover-{swatch}
    border: 1px solid highlight_color
    background: highlight_color
    font-weight: bold
    color:  font_color

    &:visited
    &:hover
    a.ui-link-inherit
      color:  font_color

  .ui-btn-down-{swatch}
    border: 1px solid highlight_color
    background: highlight_color
    font-weight: bold
    color:  font_color

    &:visited
    &:hover
    a.ui-link-inherit
      color:  font_color

  .ui-btn-up-{swatch}
  .ui-btn-hover-{swatch}
  .ui-btn-down-{swatch}
    font-family: Lato, sans-serif
    text-decoration: none

  .ui-bar-{swatch}
    .ui-btn-up-a
    .ui-btn-down-a
    .ui-btn-hover-a
      background-color: primary_color
      border: 1px solid primary_color
