build_swatch(swatch)
  html
    .ui-bar-{swatch},
    .ui-page-theme-{swatch} .ui-bar-inherit,
    .ui-bar-{swatch} .ui-bar-inherit,
    .ui-body-{swatch} .ui-bar-inherit,
    body .ui-group-theme-{swatch} .ui-bar-inherit
      background: primary_color
      border-color: primary_color
      color: font_color
      font-weight: bold

    .ui-bar-{swatch}
      border-width: 1px
      border-style: solid
    
    .ui-overlay-{swatch},
    .ui-page-theme-{swatch},
    .ui-page-theme-{swatch} .ui-panel-wrapper
      background: #f9f9f9
      border-color: #bbb
      color: #333

    .ui-body-{swatch},
    .ui-page-theme-{swatch} .ui-body-inherit,
    .ui-bar-{swatch} .ui-body-inherit,
    .ui-body-{swatch} .ui-body-inherit,
    body .ui-group-theme-{swatch} .ui-body-inherit,
    .ui-panel-page-container-{swatch}
      background: font_color
      border-color: primary_color
      color: #333

    .ui-body-{swatch}
      border-width: 1px
      border-style: solid

    .ui-page-theme-{swatch} a,
    .ui-bar-{swatch} a,
    .ui-body-{swatch} a,
    body .ui-group-theme-{swatch} a 
      color: highlight_color
      font-weight: bold

    .ui-page-theme-{swatch} a:visited,
    .ui-bar-{swatch} a:visited,
    .ui-body-{swatch} a:visited,
    body .ui-group-theme-{swatch} a:visited
        color: highlight_color
    
    .ui-page-theme-{swatch} a:hover,
    .ui-bar-{swatch} a:hover,
    .ui-body-{swatch} a:hover,
    body .ui-group-theme-{swatch} a:hover
      color: highlight_color

    .ui-page-theme-{swatch} a:active,
    .ui-bar-{swatch} a:active,
    .ui-body-{swatch} a:active,
    body .ui-group-theme-{swatch} a:active
      color: highlight_color

    .ui-page-theme-{swatch} .ui-btn,
    .ui-bar-{swatch} .ui-btn,
    .ui-body-{swatch} .ui-btn,
    body .ui-group-theme-{swatch} .ui-btn,
    body .ui-btn.ui-btn-{swatch},
    .ui-page-theme-{swatch} .ui-btn:visited,
    .ui-bar-{swatch} .ui-btn:visited,
    .ui-body-{swatch} .ui-btn:visited,
    body .ui-group-theme-{swatch} .ui-btn:visited,
    body .ui-btn.ui-btn-{swatch}:visited
      background: primary_color
      border-color: primary_color
      color: font_color

    .ui-page-theme-{swatch} .ui-btn:hover,
    .ui-bar-{swatch} .ui-btn:hover,
    .ui-body-{swatch} .ui-btn:hover,
    body .ui-group-theme-{swatch} .ui-btn:hover,
    body .ui-btn.ui-btn-{swatch}:hover
      background: highlight_color
      border-color: highlight_color
      color: font_color

    .ui-page-theme-{swatch} .ui-btn:active,
    .ui-bar-{swatch} .ui-btn:active,
    .ui-body-{swatch} .ui-btn:active,
    body .ui-group-theme-{swatch} .ui-btn:active,
    body .ui-btn.ui-btn-{swatch}:active
      background: highlight_color
      border-color: highlight_color
      color: font_color
    
    .ui-page-theme-{swatch} .ui-btn.ui-btn-active,
    .ui-bar-{swatch} .ui-btn.ui-btn-active,
    .ui-body-{swatch} .ui-btn.ui-btn-active,
    body .ui-group-theme-{swatch} .ui-btn.ui-btn-active,
    body .ui-btn.ui-btn-{swatch}.ui-btn-active,

    .ui-page-theme-{swatch} .ui-flipswitch-active,
    .ui-bar-{swatch} .ui-flipswitch-active,
    .ui-body-{swatch} .ui-flipswitch-active,
    body .ui-group-theme-{swatch} .ui-flipswitch-active,
    body .ui-flipswitch.ui-bar-{swatch}.ui-flipswitch-active,
    .ui-page-theme-{swatch} .ui-slider-track .ui-btn-active,
    .ui-bar-{swatch} .ui-slider-track .ui-btn-active,
    .ui-body-{swatch} .ui-slider-track .ui-btn-active,
    body .ui-group-theme-{swatch} .ui-slider-track .ui-btn-active,
    body div.ui-slider-track.ui-body-{swatch} .ui-btn-active
      background-color: highlight_color
      border-color: highlight_color
      color: font_color

    .ui-page-theme-{swatch} .ui-checkbox-on:after,
    .ui-bar-{swatch} .ui-checkbox-on:after,
    .ui-body-{swatch} .ui-checkbox-on:after,
    body .ui-group-theme-{swatch} .ui-checkbox-on:after,
    .ui-btn.ui-checkbox-on.ui-btn-{swatch}:after,
      background-color: primary_color
      border-color: primary_color
      color: font_color

    .ui-page-theme-{swatch} .ui-radio-on:after,
    .ui-bar-{swatch} .ui-radio-on:after,
    .ui-body-{swatch} .ui-radio-on:after,
    body .ui-group-theme-{swatch} .ui-radio-on:after,
    .ui-btn.ui-radio-on.ui-btn-{swatch}:after
      background-color: primary_color
      color: font_color
