@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url(fonts/lato-regular.woff) format('woff'),
    url(fonts/lato-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url(fonts/lato-bold.woff) format('woff'),
    url(fonts/lato-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url(fonts/lato-black.woff) format('woff'),
    url(fonts/lato-black.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
    local('Lato-Italic'),
    url(fonts/lato-italic.woff) format('woff'),
    url(fonts/lato-italic.ttf) format('truetype');
}
@font-face {
  font-family: "Flat-UI-Icons-24";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Flat-UI-Icons-24.woff") format("woff"),
    url(fonts/Flat-UI-Icons-24.ttf) format('truetype');
}

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.ui-icon-flat-video:before,
.ui-icon-flat-time:before,
.ui-icon-flat-settings:before,
.ui-icon-flat-plus:before,
.ui-icon-flat-new:before,
.ui-icon-flat-menu:before,
.ui-icon-flat-man:before,
.ui-icon-flat-mail:before,
.ui-icon-flat-lock:before,
.ui-icon-flat-location:before,
.ui-icon-flat-heart:before,
.ui-icon-flat-eye:before,
.ui-icon-flat-cross:before,
.ui-icon-flat-cmd:before,
.ui-icon-flat-checkround:before,
.ui-icon-flat-checkmark:before,
.ui-icon-flat-calendar:before,
.ui-icon-flat-bubble:before,
.ui-icon-flat-volume:before,
.ui-icon-flat-camera:before {
  font-family: "Flat-UI-Icons-24";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

.ui-icon-flat-video:before {
  content: "\e000"; }

.ui-icon-flat-time:before {
  content: "\e001"; }

.ui-icon-flat-settings:before {
  content: "\e002"; }

.ui-icon-flat-plus:before {
  content: "\e003"; }

.ui-icon-flat-new:before {
  content: "\e005"; }

.ui-icon-flat-menu:before {
  content: "\e006"; }

.ui-icon-flat-man:before {
  content: "\e007"; }

.ui-icon-flat-mail:before {
  content: "\e008"; }

.ui-icon-flat-lock:before {
  content: "\e009"; }

.ui-icon-flat-location:before {
  content: "\e00a"; }

.ui-icon-flat-heart:before {
  content: "\e00b"; }

.ui-icon-flat-eye:before {
  content: "\e00c"; }

.ui-icon-flat-cross:before {
  content: "\e00d"; }

.ui-icon-flat-cmd:before {
  content: "\e00e"; }

.ui-icon-flat-checkround:before {
  content: "\e00f"; }

.ui-icon-flat-checkmark:before {
  content: "\e010"; }

.ui-icon-flat-calendar:before {
  content: "\e011"; }

.ui-icon-flat-bubble:before {
  content: "\e012"; }

.ui-icon-flat-volume:before {
  content: "\e013"; }

.ui-icon-flat-camera:before {
  content: "\e004"; }
